<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo1ftC7BtfR_8K_vj_JL7BJIshDj8Uiv4</string>
	<key>GCM_SENDER_ID</key>
	<string>89819429848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoMonito.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>proyecto-monito</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-monito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89819429848:ios:d004d4975e7476cbfe10ad</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto-monito-default-rtdb.firebaseio.com</string>
</dict>
</plist>